body {
    background-color: #444;
    font-family: "Lato", sans-serif;
}

.sidebar-button {
    display: none;
}

.sidebar {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
}

.sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #ccc;
    display: block;
    transition: 0.3s;
}

.sidebar p {
    color: #ccc;
    position: absolute;
    bottom: 80px;
    padding-left: 32px;
    padding-right: 8px;
}

.sidebar a:hover {
    color: #f1f1f1;
}

.main {
    padding: 20px;
    margin-left: 250px;
    background-color: #444;
    min-height: 100vh;
}

.card {
    background-color: #111;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 30%;
    margin: 10px;
    display: inline-block;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.2);
}

.card a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: inherit;
}

.card img {
    height: 200px;
    width: auto;
    max-width: 100%;
    display: block;
    margin: 0 auto;
    border: 1px solid #6e6e6e;
}

.card-container {
    text-align: center;
}

.card-container a {
    text-decoration: none;
}

.card-container h2 {
    color: #ccc;
}

.card-container p {
    color: #ccc;
}

.content {
    max-width: 800px;
    margin: 0 auto;
    color: #ddd;
}

.content img {
    max-height: 350px;
    width: auto;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
}

.content video {
    max-height: 350px;
    width: auto;
    border: 1px solid white;
    display: block;
    margin: 0 auto;
}

.content p {
    font-size: 20px;
}

h1 {
    color: #ccc;
    text-align: center;
}

h2 {
    color: #ccc;
    text-align: center;
}

li {
    font-size: 20px;
    line-height: 1.5;
}
